.contains{
    /* background-color: rgb(141, 141, 252); */
    background-color: white;
}

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.childs{
  /*   background-color: rgb(141, 141, 252); */
  background-color: rgb(252, 39, 75);
    height: 650px;
    width: 410px;
    border-radius: 12px;
}

/*  */
.contains .childs h1{
    position: relative;
    left: 25%;
    top: 5rem;
    font-weight: 700;
}

.contains .in0{
    position: relative;
    top: 7.5rem;
    width: 17rem;
    height: 2.2rem;
    left: 5rem;
}

.contains .in1{
    position: relative;
    top: 9rem;
    width: 17rem;
    height: 2.2rem;
    left: 5rem;
}

.contains .in2{
    position: relative;
    top: 11rem;
    width: 17rem;
    height: 2.2rem;
    left: 5rem;
}

.contains button{
    position: relative;
    top: 15rem;
    width: 17rem;
    height: 3.2rem;
    left: 5rem;
    background-color: rgb(46, 46, 253);
    color: white;
    border: none;
}

.contains h6{
    position: relative;
    top: 17rem;
    left: 5.2rem;
}
.contains .childs a{
    color: blue;
}

.contains .childs img{
    height: 100px;
    width: 100px;
    position: relative;
    left: 37%;
    top: 3rem;
}